<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Метеостанция яз. Душанци</title>
  <!-- Linking the external CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Linking the external JS file -->
  <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
  <!-- Banner Section -->
  <div class="banner">
    <nav class="navbar">
      <a href="/">Моментни данни</a>
      <a href="/graphs">Графики</a>
      <a href="/statistics">Статистика</a>
      <a href="/report">Месечна справка</a>
    </nav>
    <h1>Система за следене на метеорологичните условия на яз. Душанци</h1>
    <div class="logout-btn-container">
      <a href="{{ url_for('logout') }}">
        <button class="logout-btn">Logout</button>
      </a>
    </div>
  </div>

  <!-- Main Content -->
  <div id="moment-data-container"  class="container">
    <div id="last-min-values-plot" class="dashboard-card">
      <h2 id="dashboard-title"></h2>
      <div id="last-min-values-dashboard"></div>
    </div>
  </div>

</body>
</html>
